:root {
  --primary-color: #FE724C;
  --primary-hover-color: #9f5d4b;
  --text-color: #000000;
  --text-secondary-color: #5B5B5E;
  --white-color: #FFFFFF;
  --separator-color: #D4D6E0;
  --font: 'Open Sans', sans-serif;
  color: var(--white-color);
}

body {
  font-family: var(--font);
  margin: 0;
}