.layout {
    display: flex;
    flex-direction: row;
}


.sidebar {
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
    border-right: 2px solid var(--separator-color);
    height: 100vh;
} 

.user {
    display: flex;
    flex-direction: column;
}

.user-avatar {
    width: 90px;
    height: 90px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-bottom: 21px;
    box-shadow: 0px 8px 40px 0px rgba(255, 197, 41, 0.25);
}

.user-name {
   color: var(--text-color);
   font-size: 20px;
   font-weight: 700;
   line-height: 27px;
   margin-bottom: 7px;

}

.user-email {
    color: var(--text-secondary-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    gap: 36px;
}

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}
.link-container:hover {
    color: var(--primary-hover-color);
}
.link-icon {
    width: 19px;
    height: 19px;
    margin-right: 14px;
}
.menu-icon {
    background: url('/menu-icon.svg');
}

.cart-icon {
    background: url('/cart-icon.svg');
}

.goods-icon {
    background-color: var(--primary-color);
    width: 22px;
    height: 22px;
    color: var(--white-color);
    border-radius: 50%;
    text-align: center;
    margin-left: 14px;
}

.exit {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    color: var(--white-color);
}

.active {
    color: var(--primary-hover-color);
}
