.wishlist-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /*24px (icon) + 8px (margin icon) + 109px (desc) */
    width: 141px;
    height: 24px;

}

.delete-added-icon {
    background: url("hand-icon.svg") no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-top: 7px;
}

.delete-added-desc {
    width: 109px;
    margin-top: 20px;
    color: rgb(55, 216, 167);
}