.flex-container-vertical {
    display: flex;
    flex-direction: vertical;
    justify-content: space-between;
}

.flex-container-horizontal {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
}

