.heading {
    margin-bottom: 40px;
}
.line {
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
    max-width: 512px;
}

.line span {
    color: #9796A1;
}

.hr {
    max-width: 512px;
    margin: 0;
    border: 1px solid #F1F2F3;
}

.text {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.price {
    color: var(--text-color);
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
}

.total-count {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    color: #BEBEBE;
}
.checkout {
    max-width: 512px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}