#root {
  max-width: 1280px;
  margin: 0 auto;
  /*
  TODO: решить, нужны ли эти свойства или нет
  (добавлены автоматически при создании проекта).
  */
  /*padding: 2rem;*/
  /*text-align: center;*/
}
