.journal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px 10px;
    min-width: 938px;
    box-sizing: border-box;
}

.journal-header__delete-btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url('/delete-icon.svg') no-repeat;
    border: none;
}
.journal-header__delete-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}
.journal-header__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}
